/* Réglages généraux de la page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police moderne */
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

/* Style de l'en-tête (Nom + Contact) */
.header {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Légère ombre */
}

.header h1 {
    color: #2c3e50;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #666;
}

/* Style commun pour les sections */
.experience, .education, .skills, .projects {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section:hover {
    background-color: #fcfcfc;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    border-color: #3498db; 
    transform: translateY(-2px); 
}

/* Titres des sections */
h2 {
    color: #3498db; /* Bleu professionnel */
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-top: 0;
}

/* Listes à puces */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}



/* Style pour la section Langues */
.languages {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.lang-item {
    margin-bottom: 15px;
}

.lang-item span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

/* Conteneur gris (fond de la barre) */
.progress-bg {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 10px;
    width: 100%;
}

/* La barre de progression colorée */
.progress-bar {
    background-color: #3498db;
    height: 100%;
    border-radius: 10px;
    transition: width 1s ease-in-out; /* Optionnel : petite animation au chargement */
}